<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireciona para index.php se o arquivo/pasta não existir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Desabilita listagem de diretórios
Options -Indexes

# Define index.php como arquivo padrão
DirectoryIndex index.php